*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
    padding-left: 43%;
    background-color: rgb(156, 114, 195);
}

.progress{
    width: 300px;
    height: 30px;
    border-radius: 20px;
}
h3{
    padding-top: 35px;
    color: #fff;
    margin-left: 30px;
    font-size: 1.5rem;
}

input{
    width: 15vw;
    height: 4vh;
    text-align: center;
    border-radius: 5px;
    border: none;
    border: 2px solid #000000;
    font-size: 1.1rem;
}

.progress-done{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(to left,#0546e0,#1172f9,#4892f9);
    box-shadow: 0 5px 5px -6px #0546e0, 0 3px 7px;
    border-radius: 20px;
    color: #fff;
}
