@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style: none;
}
nav{
    background-color: #000000;
   color: rgb(233, 231, 231);
   height: 57px;
   font-size: 20px;
   display: flex;
   align-items: center;
   padding: 0px 12px;
   font-size: 4vh;
}
body{
    background-color: #b1c1b1;
    height: 100%;
    border-top: 10%;
}
.gameContainer{
   display: flex;
   justify-content: center;
   height: 80vh;
   width: 90vw;
   margin-top: 60px;
}
.container{
    display: grid;
    grid-template-rows: (3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Open Sans', sans-serif;  
} 

.gameInfo h1{
    margin-left: 90px;
    font-size: 5vh;
}
.info{
    font-size: 5vh;
    margin-left: 90px;
}

#imgbox img{
    margin-left: 10px;
    width: 0;
    transition: width is ease-in-out;
} 
div button{
    margin-left: 200px;
    margin-top: 40px;
}
.box{
    border: 2px solid black;
    font-size:9vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(212, 203, 203);
}

.br-0{
    border-right: 0;

}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
  width: 100px;
  height: 6vh;
  font-size: 1.6rem;
  border-radius: 10px;
  border: none;
  border: 2px solid #000000;
  background-color: #008000;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
}


@media screen and (max-width: 1321px){
    .gameContainer{
      flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 40px;
        font-size: 1rem;
    }
    .gameInfo h1{
        font-size: 1rem;
    }
    #imgbox img{
        width: 100%;
    }
    #reset {
        align-items: center;
        justify-items: center;
        width: 30%;
        height: 30%;
    }
    .Container{
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
    nav{
        right: 0;
        text-align: center;
        justify-content: center;
     }
}

@media screen and (max-width: 369px) {
    .gameContainer{
        flex-wrap: wrap;
      }
      .gameInfo{
          margin-top: 40px;
          font-size: 1rem;
      }
      .gameInfo h1{
          font-size: 0.7rem;
      }
      #imgbox img{
          width: 100%;
      }
      #reset {
          align-items: center;
          justify-content: center;
          width: 28%;
          height: 28%;
      }
      .Container{
          grid-template-rows: repeat(3,20vw);
          grid-template-columns: repeat(3,20vw);
      }
      nav{
         right: 0;
         text-align: center;
         justify-content: center;
      }
}
